Repository CamelliaGh/voiceFrame: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

.pre-commit-config.yaml:

repos:
  # Python code formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.13 
        args: [--line-length=88]


  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-requirements-consistency
        name: Validate Requirements Consistency
        entry: python scripts/validate_requirements_consistency.py
        language: system
        files: ^requirements.*\.txt$
        pass_filenames: false

      - id: validate-imports
        name: Validate All Imports
        entry: python scripts/validate_imports.py
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: validate-docker-consistency
        name: Validate Docker Consistency
        entry: python scripts/validate_docker_consistency.py
        language: system
        files: ^(Dockerfile.*|docker-compose\.yml|requirements.*\.txt)$
        pass_filenames: false

      - id: test-imports
        name: Test Import Validation
        entry: python -c "import backend.tests.test_file_migration; print('All imports valid')"
        language: system
        files: ^backend/tests/.*\.py$

      - id: test-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: ^backend/.*\.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]

  # Docker file validation
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008, --ignore=DL3009]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, backend/, -f, json, -o, bandit-report.json]
        exclude: ^backend/tests/

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        files: ^backend/.*\.py$

Implement encryption features and QR code expiration settings
  .taskmaster/tasks/tasks.json
  backend/config.py
  backend/services/encryption_service.py
  backend/services/file_uploader.py
  backend/services/pdf_generator.py
  backend/services/storage_manager.py
  backend/services/visual_pdf_generator.py
  backend/tests/test_encryption_service.py
  backend/tests/test_qr_code_expiration_simple.py
  env.example
  requirements.txt
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

Implement privacy compliance features and enhance email handling
  .taskmaster/tasks/tasks.json
  backend/config.py
  backend/main.py
  backend/models.py
  backend/services/email_service.py
  backend/services/privacy_service.py
  backend/tests/test_privacy_compliance.py
  env.example
Due: validate-imports, test-imports, test-syntax

Enhance file upload and processing features with rate limiting and content filtering
  .taskmaster/tasks/tasks.json
  Dockerfile
  Dockerfile.test
  backend/config.py
  backend/main.py
  backend/models.py
  backend/services/consent_manager.py
  backend/services/content_filter.py
  backend/services/gdpr_service.py
  backend/services/rate_limiter.py
  backend/tests/test_content_filtering.py
  backend/tests/test_gdpr_compliance.py
  backend/tests/test_rate_limiting.py
  env.example
  requirements.txt
  src/components/CustomizationPanel.tsx
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

Update session management and file access validation features
  .taskmaster/tasks/tasks.json
  backend/main.py
  backend/schemas.py
  backend/services/admin_auth.py
  backend/services/file_access_validator.py
  backend/services/rate_limiter.py
  backend/services/session_manager.py
  requirements.txt
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-syntax

Implement GDPR compliance features and enhance data management capabilities
  .taskmaster/tasks/tasks.json
  backend/main.py
  backend/services/data_minimization_service.py
  docs/BREACH_RESPONSE_PROCEDURES.md
  docs/GDPR_COMPLIANCE.md
  src/components/ConsentCollection.tsx
  src/components/CookieConsentBanner.tsx
  src/components/GDPRDataManagement.tsx
  src/components/Header.tsx
Due: validate-imports, test-syntax

Implement comprehensive file operation audit logging system
  .taskmaster/tasks/tasks.json
  alembic/versions/003_add_file_audit_logs.py
  backend/main.py
  backend/services/file_audit_logger.py
  backend/services/file_uploader.py
  backend/services/storage_manager.py
  backend/tests/test_file_audit_logging.py
Due: validate-imports, test-imports, test-syntax

feat: Implement comprehensive security enhancements and UI improvements
  .cursor/mcp.json
  .gitignore
  .taskmaster/tasks/tasks.json
  backend/config.py
  backend/main.py
  backend/middleware/__init__.py
  backend/middleware/security_headers.py
  backend/services/rate_limiter.py
  backend/services/security_config.py
  docker-compose.yml
  docs/SECURITY_CHECKLIST.md
  scripts/security_audit.py
  src/components/BackgroundSelection.tsx
  src/components/CustomizationPanel.tsx
  src/components/PDFSizeSelection.tsx
  src/components/PhotoShapeCustomization.tsx
  src/components/PreviewSection.tsx
  src/components/RealTimePreview.tsx
  src/components/TextCustomization.tsx
  src/contexts/SessionContext.tsx
  test_image.jpg
Due: validate-imports, validate-docker-consistency, test-syntax

feat: Add ClamAV service for virus scanning and update EXIF handling in UploadSection
  docker-compose.yml
  package-lock.json
  package.json
  src/components/UploadSection.tsx
  test_photo.jpg
  test_photo_upload.py
Due: validate-docker-consistency

feat: Enhance admin panel functionality and resource management
  .cursor/rules/project_context.mdc
  backend/schemas.py
  backend/services/visual_pdf_generator.py
  docs/admin_panel_setup.md
  fonts/admin/Dancing font_883a1d10.ttf
  scripts/seed_admin_data.py
  src/components/AdminDashboard.tsx
  src/components/BackgroundSelection.tsx
  src/components/TextCustomization.tsx
  vite.config.ts
Due: validate-imports, test-syntax

feat: Improve preview generation in CustomizationPanel
  src/components/CustomizationPanel.tsx
Due: none

feat: Implement admin authentication system with multiple methods
  backend/config.py
  backend/main.py
  backend/models.py
  backend/routers/admin.py
  backend/routers/admin_auth.py
  backend/routers/simple_admin.py
  backend/schemas.py
  backend/services/admin_auth.py
  docker-compose.yml
  docs/ADMIN_AUTHENTICATION.md
  requirements.txt
  scripts/change_admin_password.py
  scripts/create_admin_user.py
  scripts/setup_admin_auth.py
  src/components/AdminDashboard.tsx
  src/components/AdminLogin.tsx
  vite.config.ts
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-syntax

fix: Update admin authentication to use password instead of API key
  src/components/AdminDashboard.tsx
Due: none

feat: Enhance session update validation for backgrounds and fonts
  backend/schemas.py
  backend/services/session_manager.py
Due: validate-imports, test-syntax

feat: Enhance background management and database schema
  alembic/versions/004_increase_background_font_id_lengths.py
  backend/main.py
  backend/models.py
  backend/services/visual_pdf_generator.py
  src/components/BackgroundSelection.tsx
  vite.config.ts
Due: validate-imports, test-syntax

feat: Update PDF generation and enhance debugging in VisualPDFGenerator
  backend/main.py
  backend/services/visual_pdf_generator.py
  docker-compose.yml
Due: validate-imports, validate-docker-consistency, test-syntax

feat: Improve audio processing status checks in CustomizationPanel
  src/components/CustomizationPanel.tsx
Due: none

fix: Adjust font sizes in framed templates for better layout
  templates/framed/framed_a3_landscape.json
  templates/framed/framed_a4_landscape.json
  templates/framed/framed_letter_landscape.json
Due: none

feat: Add emoji detection and rendering support in VisualPDFGenerator
  backend/services/visual_pdf_generator.py
Due: validate-imports, test-syntax

feat: Add file information fields and update upload functionality
  alembic/versions/005_add_file_info_fields.py
  backend/main.py
  backend/models.py
  backend/schemas.py
  src/App.tsx
  src/components/CustomizationPanel.tsx
  src/components/Header.tsx
  src/components/Privacy.tsx
  src/components/TextCustomization.tsx
  src/components/UploadSection.tsx
  src/components/__tests__/Privacy.test.tsx
  src/components/__tests__/UploadSection.test.tsx
Due: validate-imports, test-syntax

feat: Add file information fields and update upload functionality
  tsconfig.json
  vite.config.ts
Due: none

Updated UploadSection.tsx
  src/components/CustomizationPanel.tsx
  src/components/PreviewSection.tsx
  src/components/UploadSection.tsx
  src/components/__tests__/UploadSection.test.tsx
  src/contexts/SessionContext.tsx
Due: none

Updated tailwind.config.js
  src/App.tsx
  src/components/CustomizationPanel.tsx
  src/components/Header.tsx
  src/components/UploadSection.tsx
  src/index.css
  tailwind.config.js
Due: none

fix: Update URL handling in CustomizationPanel and PreviewSection
  src/components/CustomizationPanel.tsx
  src/components/PreviewSection.tsx
  src/contexts/SessionContext.tsx
Due: none

Updated TextCustomization.tsx
  src/components/PhotoShapeCustomization.tsx
  src/components/TextCustomization.tsx
Due: none

Updated TextCustomization.tsx
  src/components/TextCustomization.tsx
Due: none

Updated index.css
  src/components/TextCustomization.tsx
  src/index.css
Due: none

feat: Add Terms of Service page and update routing
  src/App.tsx
  src/components/CookieConsentBanner.tsx
  src/components/Header.tsx
  src/components/Privacy.tsx
  src/components/TermsOfService.tsx
  src/components/__tests__/TermsOfService.test.tsx
Due: none

Updated tsconfig.json
  src/components/CustomizationPanel.tsx
  tsconfig.json
Due: none

Updated UploadSection.tsx
  src/components/UploadSection.tsx
Due: none

Updated PreviewSection.tsx
  src/components/PreviewSection.tsx
Due: none

Implement admin configuration management features
  alembic/versions/003_add_file_audit_logs.py
  alembic/versions/006_add_admin_config_table.py
  backend/main.py
  backend/models.py
  backend/routers/admin.py
  backend/schemas.py
  backend/services/config_service.py
  backend/tests/test_config_service.py
  src/components/AdminDashboard.tsx
  src/components/PricingSection.tsx
  vite.config.ts
Due: validate-imports, test-imports, test-syntax

Add ZIP code input to PricingSection component
  src/components/PricingSection.tsx
Due: none

Updated PricingSection.tsx
  src/components/PDFSizeSelection.tsx
  src/components/PricingSection.tsx
Due: none

Remove current selection preview from PDFSizeSelection component
  src/components/PDFSizeSelection.tsx
Due: none
