Repository CamelliaGh/voiceFrame: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

.pre-commit-config.yaml:

repos:
  # Python code formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.13 
        args: [--line-length=88]


  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=88]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  # Dependency validation
  - repo: local
    hooks:
      - id: validate-requirements-consistency
        name: Validate Requirements Consistency
        entry: python scripts/validate_requirements_consistency.py
        language: system
        files: ^requirements.*\.txt$
        pass_filenames: false

      - id: validate-imports
        name: Validate All Imports
        entry: python scripts/validate_imports.py
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: validate-docker-consistency
        name: Validate Docker Consistency
        entry: python scripts/validate_docker_consistency.py
        language: system
        files: ^(Dockerfile.*|docker-compose\.yml|requirements.*\.txt)$
        pass_filenames: false

      - id: test-imports
        name: Test Import Validation
        entry: python -c "import backend.tests.test_file_migration; print('All imports valid')"
        language: system
        files: ^backend/tests/.*\.py$

      - id: test-syntax
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: ^backend/.*\.py$

  # YAML formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]

  # Docker file validation
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore=DL3008, --ignore=DL3009]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, backend/, -f, json, -o, bandit-report.json]
        exclude: ^backend/tests/

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        files: ^backend/.*\.py$

feat: Enhance debounced update logic in CustomizationPanel
  src/components/CustomizationPanel.tsx
Due: none

feat: Implement rate limiting exceptions for critical payment endpoints
  backend/middleware/security_headers.py
  backend/services/stripe_service.py
  nginx-sites/dev.conf
  nginx-sites/vocaframe.com.conf
  src/components/PricingSection.tsx
Due: validate-imports, test-syntax

feat: Update PaymentIntent creation in StripeService to remove manual confirmation
  backend/services/stripe_service.py
Due: validate-imports, test-syntax

feat: Update routing and navigation in App and LandingPage components
  src/App.tsx
  src/components/LandingPage.tsx
Due: none

fix: Update Facebook app ID in index.html for correct integration
  index.html
Due: none

feat: Enhance user experience and payment processing logic
  .pre-commit-config.yaml
  .taskmaster/docs/prd.txt
  backend/main.py
  backend/services/file_access_validator.py
  backend/services/session_manager.py
  backend/services/stripe_service.py
  backend/services/visual_pdf_generator.py
  backend/tasks.py
  backend/tests/test_cleanup_tasks.py
  backend/tests/test_discount_codes.py
  backend/tests/test_file_access_validator.py
  public/samples/1.png
  public/samples/2.png
  public/samples/3.png
  public/samples/4.png
  public/samples/5.png
  public/samples/6.png
  scripts/debug_qr_access.py
  src/components/CustomizationPanel.tsx
  src/components/LandingPage.tsx
Due: validate-imports, test-imports, test-syntax

feat: Implement minimum charge validation for Stripe payment intents
  backend/services/stripe_service.py
  backend/tests/test_discount_codes.py
Due: validate-imports, test-imports, test-syntax

fix: Improve error handling in StripeService for HTTP exceptions
  backend/services/stripe_service.py
Due: validate-imports, test-syntax

feat: Add final amount state to PricingSection for accurate discount display
  src/components/PricingSection.tsx
Due: none

fix: Enhance error handling in payment intent creation
  backend/main.py
  src/components/LandingPage.tsx
Due: validate-imports, test-syntax

chore: Update Content Security Policy across configurations
  backend/middleware/security_headers.py
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
  public/samples/main sample.jpg
  public/samples/main sample2.jpg
  src/components/LandingPage.tsx
Due: validate-imports, test-syntax

chore: Update sample images in public directory
  public/samples/1.png
  public/samples/2.png
  public/samples/3.png
  public/samples/4.png
  public/samples/5.png
  public/samples/6.png
Due: none

chore: Replace sample images in public directory
  public/samples/1.png
  public/samples/2.png
  public/samples/3.png
  public/samples/4.png
  public/samples/5.png
  public/samples/6.png
Due: none

chore: Update Content Security Policy to include new domain
  backend/middleware/security_headers.py
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
  src/components/LandingPage.tsx
Due: validate-imports, test-syntax

chore: Add new and updated sample images in public directory
  public/og-image-old2.jpg
  public/og-image.jpg
Due: none

feat: Integrate Meta Pixel for enhanced tracking
  docs/META_PIXEL_SETUP.md
  docs/marketing/performance-tracking.md
  env.example
  index.html
  src/lib/analytics.ts
  src/lib/metaPixel.ts
Due: none

Remove exposed API key
  docs/frontend-request-flow.md
  env.example
Due: none
