Repository CamelliaGh/voiceFrame: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

validate-requirements-consistency:
  name: Validate Requirements Consistency
  entry: python scripts/validate_requirements_consistency.py
  language: system
  pass_filenames: false

validate-imports:
  name: Validate All Imports
  entry: python scripts/validate_imports.py
  language: system
  pass_filenames: false

validate-docker-consistency:
  name: Validate Docker Consistency
  entry: python scripts/validate_docker_consistency.py
  language: system
  pass_filenames: false

test-imports:
  name: Test Import Validation
  entry: python -c "import backend.tests.test_file_migration; print('All imports valid')"
  language: system

test-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

feat: Add audio recording functionality to UploadSection component
  src/components/UploadSection.tsx
Due: none

Updated App.tsx
  src/App.tsx
  src/components/LandingPage.tsx
Due: none

feat: Expand audio file support and enhance upload functionality
  backend/main.py
  backend/services/audio_processor.py
  backend/services/content_filter.py
  backend/services/storage_manager.py
  src/components/UploadSection.tsx
Due: validate-imports, test-syntax

feat: Update QR code URL generation to use permanent /listen/ endpoint
  backend/services/pdf_generator.py
  backend/services/visual_pdf_generator.py
  backend/tests/test_qr_code_expiration.py
Due: validate-imports, test-imports, test-syntax

feat: Add debug logging for QR URL generation in VisualPDFGenerator
  backend/services/visual_pdf_generator.py
Due: validate-imports, test-syntax

feat: Add debug logging for customization and QR code generation
  backend/main.py
  backend/services/visual_pdf_generator.py
Due: validate-imports, test-syntax

feat: Add debug logging for /listen endpoint in audio playback
  backend/main.py
Due: validate-imports, test-syntax

feat: Add /listen endpoint for audio playback in nginx configuration
  nginx.prod.conf
Due: none

fix: Update api_backend server configuration in nginx.prod.conf
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
Due: none

fix: Validate UUID format for order ID in file access validation
  backend/services/file_access_validator.py
Due: validate-imports, test-syntax

feat: Add Content Security Policy header to nginx configuration for vocaframe.com
  nginx-sites/vocaframe.com.conf
Due: none

feat: Update Content Security Policy to include media sources from S3
  backend/middleware/security_headers.py
Due: validate-imports, test-syntax

feat: Update frame-src directives in Content Security Policy to include S3 domains
  backend/middleware/security_headers.py
Due: validate-imports, test-syntax

chore: Update SendGrid API key placeholders in configuration files
  backend/config.py
  backend/services/security_config.py
  env.example
  scripts/security_audit.py
Due: validate-imports, test-syntax

fix: exclude /health endpoint from rate limiting to prevent unhealthy container status
  backend/middleware/security_headers.py
Due: validate-imports, test-syntax

feat: Update Content Security Policy in nginx configurations
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
Due: none

feat: Update Content Security Policy and Cross-Origin headers
  backend/middleware/security_headers.py
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
Due: validate-imports, test-syntax

feat: Enhance Content Security Policy in SecurityHeadersMiddleware
  backend/middleware/security_headers.py
Due: validate-imports, test-syntax

feat: Enhance nginx and backend configurations for improved security and debugging
  backend/main.py
  backend/middleware/security_headers.py
  backend/services/admin_resource_service.py
  nginx.prod.conf
Due: validate-imports, test-syntax

feat: Update nginx configuration for vocaframe.com to enhance security and support IPv6
  nginx-sites/vocaframe.com.conf
Due: none

fix: Correct static file mount order for background images
  backend/main.py
  docs/BACKGROUND_PATH_FIX.md
Due: validate-imports, test-syntax

feat: Migrate background management to admin panel
  backend/services/visual_pdf_generator.py
  docker-compose.yml
  docs/BACKGROUND_MIGRATION_GUIDE.md
  docs/BACKGROUND_PATH_FIX.md
  docs/BACKGROUND_QUICK_START.md
  scripts/migrate_backgrounds_to_admin.py
  src/components/BackgroundSelection.tsx
Due: validate-imports, validate-docker-consistency, test-syntax

chore: Remove Nginx service configurations from Docker Compose files
  docker-compose.mvp.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: validate-docker-consistency

fix: Enhance file path resolution for backgrounds in admin panel
  backend/services/admin_resource_service.py
  docs/ADMIN_BACKGROUND_FIX.md
  scripts/diagnose_background_issue.py
Due: validate-imports, test-syntax

feat: Add local background issue diagnostic script
  scripts/diagnose_background_local.py
Due: none

fix: Update Nginx configuration and enhance background handling in admin service
  backend/services/admin_resource_service.py
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
Due: validate-imports, test-syntax

fix: Update Nginx configuration for background images directory
  nginx-sites/vocaframe.com.conf
Due: none

fix: Update rate limiting settings in backend configuration
  backend/config.py
Due: validate-imports, test-syntax

fix: Update event type options in AdminDashboard component
  src/components/AdminDashboard.tsx
Due: none

feat: Enhance pricing API and admin dashboard with discount functionality
  backend/main.py
  backend/services/config_service.py
  src/components/AdminDashboard.tsx
  src/components/PreviewSection.tsx
  src/components/PricingSection.tsx
Due: validate-imports, test-syntax

feat: Integrate Google Analytics tracking into the application
  docs/GOOGLE_ANALYTICS_SETUP.md
  env.example
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/CustomizationPanel.tsx
  src/components/PreviewSection.tsx
  src/components/PricingSection.tsx
  src/components/UploadSection.tsx
  src/lib/analytics.ts
  src/lib/useAnalytics.ts
Due: none

fix: Improve background image handling in admin panel
  alembic/versions/007_add_email_subscribers_table.py
  docs/EMAIL_SUBSCRIBERS_TABLE_FIX.md
  fix_email_subscribers_table.sh
Due: none

feat: Implement comprehensive payment error fix script and enhance file migration logic
  backend/services/storage_manager.py
  backend/services/visual_pdf_generator.py
  docs/FILE_MIGRATION_FIX.md
  fix_payment_500_errors.sh
  src/components/LandingPage.tsx
Due: validate-imports, test-syntax

feat: Add pricing display component to LandingPage
  src/components/LandingPage.tsx
  src/components/__tests__/LandingPage.test.tsx
  src/test/setup.ts
  vitest.config.ts
Due: none

Updated LandingPage.tsx
  src/components/LandingPage.tsx
Due: none

fix: Improve cache-busting URL handling in PreviewSection component
  src/components/PreviewSection.tsx
Due: none

fix: Refine cache-busting URL logic in PreviewSection component
  src/components/PreviewSection.tsx
Due: none

feat: Add script to fix Preview 403 Forbidden Error
  fix_preview_403_error.sh
Due: none

fix: Update PreviewSection to avoid cache-busting on presigned URLs
  src/components/PreviewSection.tsx
Due: none

Path conditions:
  validate-requirements-consistency: any of: ^requirements.*\.txt$
  validate-imports: any of: ^backend/.*\.py$
  validate-docker-consistency: any of: ^(Dockerfile.*|docker-compose\.yml|requirements.*\.txt)$
  test-imports: any of: ^backend/tests/.*\.py$
  test-syntax: any of: ^backend/.*\.py$
