Repository CamelliaGh/voiceFrame: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

validate-requirements-consistency:
  name: Validate Requirements Consistency
  entry: python scripts/validate_requirements_consistency.py
  language: system
  pass_filenames: false

validate-imports:
  name: Validate All Imports
  entry: python scripts/validate_imports.py
  language: system
  pass_filenames: false

validate-docker-consistency:
  name: Validate Docker Consistency
  entry: python scripts/validate_docker_consistency.py
  language: system
  pass_filenames: false

test-imports:
  name: Test Import Validation
  entry: python -c "import backend.tests.test_file_migration; print('All imports valid')"
  language: system

test-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

feat: Enhance VisualPDFGenerator to support permanent S3 keys for final PDFs
  backend/services/visual_pdf_generator.py
Due: validate-imports, test-syntax

docs: Add Deployment Status documentation and fix script for final PDF content issue
  DEPLOYMENT_STATUS.md
  backend/services/visual_pdf_generator.py
  fix_final_pdf_missing_content.sh
Due: validate-imports, test-syntax

docs: Add comprehensive SendGrid testing and troubleshooting documentation
  COMPLETE_FIX_SUMMARY.md
  SENDGRID_IMPLEMENTATION_SUMMARY.md
  SENDGRID_QUICK_FIX.md
  backend/main.py
  deploy_all_fixes.sh
  docs/SENDGRID_SETUP.md
  fix_preview_cache_busting.sh
  test_sendgrid.py
Due: validate-imports, test-syntax

feat: Update SendGrid configuration and add testing script
  SENDGRID_QUICK_FIX.md
  SENDGRID_TEST_OPTIONS.md
  env.example
  test_sendgrid.py
  test_sendgrid_simple.sh
Due: none

feat: Migrate from SendGrid to Resend for email delivery
  RESEND_MIGRATION_SUMMARY.md
  SENDGRID_TO_RESEND_MIGRATION.md
  backend/config.py
  backend/main.py
  backend/services/email_service.py
  backend/services/security_config.py
  docs/RESEND_SETUP.md
  env.example
  requirements.txt
  test_resend.sh
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-syntax

refactor: Update branding and contact information to VocaFrame
  backend/config.py
  backend/main.py
  backend/services/email_service.py
  backend/services/gdpr_service.py
  backend/services/privacy_service.py
  backend/services/stripe_service.py
  backend/tests/test_privacy_compliance.py
  src/components/Footer.tsx
  src/components/TermsOfService.tsx
Due: validate-imports, test-imports, test-syntax

feat: Implement Google Analytics CSP Fix
  GOOGLE_ANALYTICS_CSP_FIX.md
  backend/middleware/security_headers.py
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
  test_google_analytics_csp.html
Due: validate-imports, test-syntax

Updated LandingPage.tsx
  src/components/LandingPage.tsx
Due: none

Updated index.css
  src/components/LandingPage.tsx
  src/index.css
Due: none

feat: Add comprehensive marketing documentation and strategies
  docs/marketing/brand-messaging.md
  docs/marketing/budget-allocation.md
  docs/marketing/competitive-analysis.md
  docs/marketing/content-strategy.md
  docs/marketing/email-marketing-strategy.md
  docs/marketing/implementation-guide.md
  docs/marketing/launch-strategy.md
  docs/marketing/paid-advertising-strategy.md
  docs/marketing/performance-tracking.md
  docs/marketing/seasonal-campaigns.md
  docs/marketing/seo-strategy.md
  docs/marketing/social-media-strategy.md
  docs/marketing/voiceframe_12_week_marketing_plan.csv
  docs/marketing/voiceframe_12_week_marketing_plan.md
  src/components/LandingPage.tsx
Due: none

fix: Improve text clarity in LandingPage component testimonials
  src/components/LandingPage.tsx
Due: none

feat: Add Redis troubleshooting documentation and fix script for Celery
  docs/CELERY_REDIS_TROUBLESHOOTING.md
  scripts/fix_redis_readonly.sh
Due: none

feat: Add S3 debugging endpoint and improve PDF image accessibility
  backend/main.py
  backend/services/pdf_generator.py
  backend/services/visual_pdf_generator.py
  src/components/CustomizationPanel.tsx
Due: validate-imports, test-syntax

feat: Enhance PDF image preview debugging in get_preview_image function
  backend/main.py
Due: validate-imports, test-syntax

feat: Update Nginx configurations and add rate limiting documentation
  docs/RATE_LIMITING.md
  nginx-sites/dev.conf
  nginx.dev.conf
  scripts/switch-nginx-config.sh
  src/components/AdminDashboard.tsx
Due: none

feat: Enhance error handling in CustomizationPanel and PreviewSection components
  src/components/CustomizationPanel.tsx
  src/components/PreviewSection.tsx
Due: none

feat: Implement dynamic font loading and serve font files via API
  backend/main.py
  src/components/TextCustomization.tsx
  src/lib/fontLoader.ts
Due: validate-imports, test-syntax

fix: Update font preview text in TextCustomization component
  src/components/TextCustomization.tsx
Due: none

fix: Update font preview text in TextCustomization component to "Love you"
  src/components/TextCustomization.tsx
Due: none

Updated BackgroundSelection.tsx
  src/components/BackgroundSelection.tsx
Due: none

feat: Update environment configuration and privacy service handling
  backend/config.py
  backend/services/privacy_service.py
  env.example
Due: validate-imports, test-syntax

Add optimized og-image.png for social media sharing
  index.html
  public/og-image.png
Due: none

fix: Update Open Graph and Twitter image URLs to use absolute paths
  index.html
Due: none

fix: Update Open Graph and Twitter image metadata
  index.html
  public/og-image.jpg
Due: none

feat: Implement discount code validation and integration
  backend/main.py
  backend/schemas.py
  backend/services/stripe_service.py
  backend/tests/conftest.py
  backend/tests/test_discount_codes.py
  src/components/PricingSection.tsx
  src/lib/api.ts
Due: validate-imports, test-imports, test-syntax

feat: Add new Open Graph image for enhanced social media sharing
  public/og-image-old.jpg
  public/og-image.jpg
Due: none

feat: Enhance rate limiting configuration for improved performance
  backend/config.py
  docs/marketing/brand-messaging.md
  nginx.prod.conf
  scripts/fix-rate-limiting.sh
Due: validate-imports, test-syntax

feat: Integrate Microsoft Clarity for enhanced analytics tracking
  docs/MICROSOFT_CLARITY_SETUP.md
  env.example
  index.html
  src/components/ConsentCollection.tsx
  src/components/CookieConsentBanner.tsx
  src/lib/__tests__/clarity.test.ts
  src/lib/analytics.ts
  src/lib/clarity.ts
  src/lib/useAnalytics.ts
Due: none

feat: Enhance promotion code handling in Stripe service
  backend/services/stripe_service.py
  backend/tests/test_discount_codes.py
Due: validate-imports, test-imports, test-syntax

feat: Refine payment intent creation with promotion code logic
  backend/main.py
Due: validate-imports, test-syntax

feat: Enhance text rendering in VisualPDFGenerator with overflow handling
  backend/services/visual_pdf_generator.py
Due: validate-imports, test-syntax

fix: Update Twitter card meta tags to use proper format for social media sharing
  backend/schemas.py
  backend/services/audio_processor.py
  backend/services/image_processor.py
  backend/services/visual_pdf_generator.py
  index.html
  src/components/PhotoShapeCustomization.tsx
Due: validate-imports, test-syntax

feat: Add Facebook App ID meta tag for social media sharing
  env.example
  index.html
Due: none

feat: Enhance session and payment processing with new features
  backend/schemas.py
  backend/services/audio_processor.py
  backend/services/stripe_service.py
  backend/services/visual_pdf_generator.py
  backend/tests/test_discount_codes.py
Due: validate-imports, test-imports, test-syntax

feat: Update Content Security Policy to include Microsoft Clarity
  backend/middleware/security_headers.py
  backend/services/audio_processor.py
  nginx-sites/vocaframe.com.conf
  nginx.prod.conf
Due: validate-imports, test-syntax

feat: Center footer layout for waveform and QR code in VisualPDFGenerator
  backend/services/visual_pdf_generator.py
Due: validate-imports, test-syntax

feat: Improve payment intent creation and logging
  backend/main.py
  backend/services/stripe_service.py
Due: validate-imports, test-syntax

feat: Update security headers and enhance promotion code handling in Stripe service
  backend/middleware/security_headers.py
  backend/services/stripe_service.py
  src/components/CustomizationPanel.tsx
  src/components/PricingSection.tsx
Due: validate-imports, test-syntax

feat: Improve promotion code validation and logging in StripeService
  backend/services/stripe_service.py
Due: validate-imports, test-syntax

Path conditions:
  validate-requirements-consistency: any of: ^requirements.*\.txt$
  validate-imports: any of: ^backend/.*\.py$
  validate-docker-consistency: any of: ^(Dockerfile.*|docker-compose\.yml|requirements.*\.txt)$
  test-imports: any of: ^backend/tests/.*\.py$
  test-syntax: any of: ^backend/.*\.py$
