Repository CamelliaGh/voiceFrame: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-imports, test-syntax

validate-requirements-consistency:
  name: Validate Requirements Consistency
  entry: python scripts/validate_requirements_consistency.py
  language: system
  pass_filenames: false

validate-imports:
  name: Validate All Imports
  entry: python scripts/validate_imports.py
  language: system
  pass_filenames: false

validate-docker-consistency:
  name: Validate Docker Consistency
  entry: python scripts/validate_docker_consistency.py
  language: system
  pass_filenames: false

test-imports:
  name: Test Import Validation
  entry: python -c "import backend.tests.test_file_migration; print('All imports valid')"
  language: system

test-syntax:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system

Updated App.tsx
  src/App.tsx
  src/components/Header.tsx
  src/index.css
  src/test/setup.ts
  src/test/task-tests.ts
Due: none

Updated App.tsx
  src/App.tsx
  src/components/CustomizationPanel.tsx
  src/components/UploadSection.tsx
Due: none

Add migration script for hardcoded suggestions
  backend/migrate_hardcoded_suggestions.py
  scripts/migrate_hardcoded_suggestions.py
  scripts/remove_emojis_from_suggestions.py
  src/components/TextCustomization.tsx
Due: validate-imports, test-syntax

Enhance UploadSection to notify parent component on uploads
  src/components/UploadSection.tsx
Due: none

Add orientation feature to backgrounds
  alembic/versions/004_increase_background_font_id_lengths.py
  alembic/versions/e3f3b941e2d3_add_orientation_to_backgrounds.py
  backend/main.py
  backend/models.py
  backend/routers/admin.py
  backend/schemas.py
  backend/services/admin_resource_service.py
  scripts/seed_background_orientations.py
  scripts/update_background_orientations.sql
  src/components/AdminDashboard.tsx
  src/components/BackgroundSelection.tsx
  src/components/CustomizationPanel.tsx
Due: validate-imports, test-syntax

Updated App.tsx
  src/App.tsx
  src/components/Footer.tsx
  src/components/Privacy.tsx
  src/components/TermsOfService.tsx
Due: none

feat: Change watermark text from 'preview' to 'vocaframe.com'
  backend/services/pdf_generator.py
  backend/services/visual_pdf_generator.py
  backend/services/visual_template_service.py
  backend/tests/test_config_service.py
Due: validate-imports, test-imports, test-syntax

feat: Add production-ready Docker Compose configuration and monitoring setup
  MONITORING_SUMMARY.md
  backend/main.py
  backend/metrics.py
  docker-compose.prod.yml
  docs/DATA_MANAGEMENT.md
  docs/MONITORING_SETUP.md
  docs/PRODUCTION_DEPLOYMENT.md
  monitoring/alert_rules.yml
  monitoring/alertmanager.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/grafana/dashboards/voiceframe-overview.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  nginx.prod.conf
  requirements.txt
  scripts/cleanup-volumes.sh
  scripts/cleanup.sh
  scripts/data_cleanup.py
  scripts/docker_cleanup.sh
  scripts/monitor_system.py
  scripts/setup-volumes.sh
  scripts/setup_monitoring.sh
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-syntax

feat: Add comprehensive deployment checklist and scripts for production setup
  DEPLOYMENT_CHECKLIST.md
  scripts/cleanup-volumes.sh
  scripts/deploy-production.sh
  scripts/monitor-volumes.sh
  scripts/setup-volumes.sh
Due: none

feat: Add standalone production deployment script and supporting utilities
  scripts/deploy-production-standalone.sh
  scripts/setup-volumes.sh
Due: none

feat: Add MVP deployment configuration and supporting scripts
  docker-compose.mvp.yml
  nginx.mvp.conf
  scripts/deploy-mvp.sh
Due: none

refactor: Update build and type-check scripts in package.json
  package.json
Due: none

Fix build issues and add MVP deployment configuration
  .gitignore
  src/App.tsx
  src/components/AdminDashboard.tsx
  src/components/BackgroundSelection.tsx
  src/components/ConsentCollection.tsx
  src/components/CookieConsentBanner.tsx
  src/components/CustomizationPanel.tsx
  src/components/GDPRDataManagement.tsx
  src/components/PDFSizeSelection.tsx
  src/components/PhotoShapeCustomization.tsx
  src/components/PreviewSection.tsx
  src/components/PricingSection.tsx
  src/components/TextCustomization.tsx
  src/components/UploadSection.tsx
  src/contexts/SessionContext.tsx
  src/lib/__tests__/api.test.ts
  src/lib/__tests__/utils.test.ts
  src/lib/api.ts
  src/lib/utils.ts
Due: none

Update Nginx port mapping in docker-compose.mvp.yml from 80 to 8080 for better service management
  docker-compose.mvp.yml
Due: none

Enhance Celery worker command in docker-compose.mvp.yml to specify user and group IDs for better permission management; update config.py to ignore extra environment variables for improved flexibility.
  backend/config.py
  docker-compose.mvp.yml
Due: validate-imports, test-syntax

feat: Add multi-site Nginx configuration for vocaframe.com and quiethires.com
  nginx-sites/README.md
  nginx-sites/quiethires.com.conf
  nginx-sites/vocaframe.com.conf
  nginx.conf
  scripts/manage-nginx-sites.sh
  scripts/setup-nginx-sites.sh
Due: none

fix: Update Nginx configuration to use localhost for API backend
  nginx-sites/vocaframe.com.conf
Due: none

chore: Consolidate upstream API backend configuration in nginx.conf
  nginx-sites/vocaframe.com.conf
  nginx.conf
Due: none

refactor: Move upstream API backend configuration to vocaframe.com.conf
  nginx-sites/vocaframe.com.conf
  nginx.conf
Due: none

refactor: Update Nginx configuration for vocaframe.com to proxy frontend requests
  nginx-sites/vocaframe.com.conf
Due: none

feat: Enhance Nginx configuration for vocaframe.com with HTTPS support
  nginx-sites/vocaframe.com.conf
Due: none

test
  nginx-sites/vocaframe.com.conf
Due: none

refactor: Update Nginx configuration for vocaframe.com to support Vite dev server
  nginx-sites/vocaframe.com.conf
Due: none

feat: Configure Vite dev server settings in vite.config.ts
  vite.config.ts
Due: none

feat: Add preview configuration to Vite for local development
  vite.config.ts
Due: none

feat: Configure Vite build output directory in vite.config.ts
  vite.config.ts
Due: none

feat: Improve postal code handling in PricingSection component
  src/components/PricingSection.tsx
Due: none

feat: Implement Stripe webhook for payment processing
  backend/main.py
  docs/STRIPE_WEBHOOK_QUICK_START.md
  docs/STRIPE_WEBHOOK_SETUP.md
Due: validate-imports, test-syntax

feat: Update payment processing to support multiple tiers and fix session token handling
  backend/schemas.py
  docs/PAYMENT_TROUBLESHOOTING.md
  src/components/PricingSection.tsx
  src/lib/api.ts
Due: validate-imports, test-syntax

feat: Simplify subscriber creation in complete_order function
  backend/main.py
Due: validate-imports, test-syntax

Updated package-lock.json
  package-lock.json
Due: none

Updated index.html
  index.html
  public/apple-touch-icon.svg
  public/favicon.svg
  public/manifest.json
Due: none

feat: Implement Apple Pay and Google Pay support
  docs/CHECK_PAYMENT_ERROR.md
  docs/PAYMENT_500_ERROR_FIX.md
  docs/STRIPE_KEY_FIX.md
  docs/WALLET_PAYMENTS.md
  docs/WALLET_PAYMENTS_IMPLEMENTATION.md
  docs/WALLET_PAYMENTS_TESTING.md
  env.example
  src/components/PaymentRequestButton.tsx
  src/components/PricingSection.tsx
Due: none

feat: Add mobile preview image generation and styling
  backend/main.py
  backend/services/pdf_generator.py
  requirements.txt
  src/components/PreviewSection.tsx
  src/index.css
  src/lib/api.ts
  src/lib/mobile.ts
Due: validate-requirements-consistency, validate-imports, validate-docker-consistency, test-syntax

feat: Add mobile image preview testing scripts and HTML interface
  backend/services/image_processor.py
  backend/services/pdf_generator.py
  src/components/PreviewSection.tsx
  src/lib/mobile.ts
  test_image_preview.py
  test_mobile_preview.html
Due: validate-imports, test-syntax

feat: Enhance mobile preview functionality with zoom and improved image handling
  backend/services/pdf_generator.py
  src/components/PreviewSection.tsx
  src/index.css
Due: validate-imports, test-syntax

refactor: Clean up image processing code for mobile PDF generation
  backend/services/pdf_generator.py
Due: validate-imports, test-syntax

Updated index.css
  src/components/CustomizationPanel.tsx
  src/components/MobilePreviewModal.tsx
  src/components/PreviewSection.tsx
  src/index.css
Due: none

fix: Update image preview styles for better responsiveness
  src/components/PreviewSection.tsx
Due: none

feat: Expand audio file support in UploadSection component
  src/components/UploadSection.tsx
Due: none

Path conditions:
  validate-requirements-consistency: any of: ^requirements.*\.txt$
  validate-imports: any of: ^backend/.*\.py$
  validate-docker-consistency: any of: ^(Dockerfile.*|docker-compose\.yml|requirements.*\.txt)$
  test-imports: any of: ^backend/tests/.*\.py$
  test-syntax: any of: ^backend/.*\.py$
